@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: default;
}
::selection{
    background: var(--color-primary);
    color: #fff;
}
:root{
    /* colors  */
    --color-primary : #7380ec;
    --color-denger : #ff7782;
    --color-success : #41f1b6;
    --color-warning : #ffbb55;
    --color-white : #fff;
    --color-info-dark : #7d8da1;
    --color-dark : #363049 ; 
    --color-light : rgba(132,139,200,0.18);
    --color-primary-variant : #111e88;
    --color-dark-variant : #677483;
    --color-background : #f6f6f6;
    
    /* Dark color them  */
    --color-dark-background : #181a1e;
    --color-dark-white : #202528;
    --color-dark-text : #edeffd;
    --color-dark-variant2 : #a3bdcc;
    --color-dark-light : rgba(0,0,0,0.4);
    
    /* radius  */
    --card-border-radius : 2rem;
    --border-radius-1 : 0.4rem;
    --border-radius-2 : 0.8rem;
    --border-radius-3 : 1.2rem;
    
    /* padding  */
    --card-padding  : 1.8rem ;
    --padding : 1.2rem ;

    /* box shadow  */
    --box-shadow : 0 2rem 3rem var(--color-light);
    --box-shadow-dark : 0 2rem 3rem var(--color-dark-light);

    /* responsive */
    --mobile-size : 640px ;
    --tablet-size : 1020px ;
}

body{
    font-family: 'Poppins', sans-serif;
    background: var(--color-background);
    font-size: 0.88rem;
    
}
Link,a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
img{
    width: 100% ;
}
h1{
    font-size: 1.8rem;
    font-weight: 800;

}
h2{
    font-size: 1.4rem;
}
h3{
    font-size: 0.87rem;
}
h4{
    font-size: 0.8rem;
}
h5{
    font-size: 0.77rem;
}
small{
    font-size: 0.75rem;
}
.App{
    display: grid;
    
    grid-template-columns: 0.8fr 3fr 1.5fr;
    min-height: 100vh;
}

@media screen and (max-width: 660px) {
    .App{
        width: 100%;
        grid-template-columns: 100%;

    }
}
@media screen  and (min-width: 660px) and (max-width: 1020px) {
    .App{
        grid-template-columns: .2fr 0.8fr 1fr;
        overflow: hidden;
    }
}